/* UNIVERSAL CSS  */

body {
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", sans-serif;
    background: var(--color-black);
    color: var(--color-white);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0px;
    padding: 0px;
    font-family: "Montserrat", sans-serif;
}

a {
    font-family: "Poppins", sans-serif;
    margin: 0px;
    padding: 0px;
    transition: 0.3s ease-in;
    display: inline-block;
}

p,
li {
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 30px;
    text-transform: capitalize;
    padding-bottom: 10px;
}


li {
    list-style: none;
}

input,
textarea {
    width: 100%;
    transition: 0.3s ease-in;
}

input:focus-visible,
textarea:focus-visible {
    outline: none;
}

select{
    width: 100%;
}

select:focus-visible{
    outline:none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

section {
    overflow: hidden;
}

:root {
    --fs-70px: 70px;
    --fs-50px: 50px;
    --fs-25px: 25px;
    --color-black: #000;
    --color-white: #fff;
    --color-yellow: #feb406;
    --color-grey: #282828;
}


.text-yellow {
    color: var(--color-yellow);
}

/* UNIVERSAL CSS END */


/* HEADER  */

header.custome-header {
    padding: 20px 0px;
    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.18);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 11;
}



.logo-main {
    max-width: 100px;
    width: 100%;
}

ul.navlink {
    display: flex;
    align-items: center;
    gap: 40px;
}

.contact-me a,
.contact-me p,.submit-btn button{
    color: var(--color-white);
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
}

.contact-me {
    background: var(--color-yellow);
    max-width: fit-content;
    overflow: hidden;
    position: relative;
    border-radius: 4px;
}

.topoverlay {
    position: absolute;
    content: "";
    height: 50%;
    top: 0;
    left: 0;
    width: 0%;
    background: var(--color-black);
    transition: 0.3s linear;
}

.btmoverlay {
    position: absolute;
    content: "";
    height: 50%;
    bottom: 0;
    right: 0;
    width: 0%;
    background: var(--color-black);
    transition: 0.3s linear;
}

.contact-me:hover .topoverlay,
.contact-me:hover .btmoverlay {
    width: 100%;
    background: var(--color-white);
}

.contact-me:hover a,
.contact-me:hover p {
    color: var(--color-black);
}

.contact-me p {
    cursor: pointer;
}






.grid-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 20px;

}

ul.navlink li a,
ul.footer-navlist li a,.cart-item a{
    color: var(--color-white);
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
}

ul.navlink li a:hover,
ul.footer-navlist li a:hover,.cart-item a:hover{
    color: var(--color-yellow);
}

.active-menu {
    color: var(--color-yellow) !important;
}

.menu-icon {
    max-width: 30px;
    width: 100%;
    display: none;
}

.navlist {
    display: flex;
    align-items: center;
    gap: 40px;
    max-width: fit-content;
    width: 100%;
    position: relative;
    z-index: 1;
}

.cart-item{
    position: relative;
    max-width: fit-content;
    width: 100%;
}

span.quantity-product {
    position: absolute;
    top: -6px;
    right: -10px;
    background: #55534f;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    font-size: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    left: inherit;
}


/* HEADER END */



/* HOME BANNER  */

section.home-banner {
    min-height: 945px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: bgomage 8s linear infinite alternate;
    padding-top: 40px;
    overflow: hidden;
}

@keyframes bgomage {
    0% {
        background-size: 100%;
    }

    100% {
        background-size: 120%;
    }
}

.main-title {
    font-size: var(--fs-70px);
    font-weight: 800;
    text-transform: uppercase;
    padding-bottom: 20px;
}

.home-dataholder {
    max-width: 60%;
    text-align: center;
    margin: 0 auto;
    position: relative;
    animation: onloaddata 1s ease-in;
}

@keyframes onloaddata {
    0% {
        opacity: 0;
        left: 140%;
    }

    100% {
        opacity: 1;
        left: 0%;
    }
}

.home-dataholder .contact-me {
    margin: 0 auto;
    margin-top: 40px;
}

/* HOME BANNER END */


/* ABOUT US  */

.sub-title {
    font-size: var(--fs-50px);
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 20px;
}

.para-highlight {
    color: var(--color-yellow);
    text-transform: uppercase;
    padding-bottom: 10px;
    font-weight: 600;
}

.home-about .universal-anchor {
    padding-top: 30px;
}

.home-about {
    max-width: 700px;
    margin-left: auto;
}

section.about-sec {
    padding: 50px 0px;
}

/* ABOUT US END */


/* WHY CHOOSE US SEC  */

.whyonly-holder {
    max-width: 75%;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

section.whyus-sec {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    padding: 100px 0px;
}

.mini-title {
    font-size: var(--fs-25px);
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.icon-here i {
    font-size: 35px;
    color: var(--color-yellow);
}

.icon-here {
    max-width: fit-content;
    width: 100%;
    padding-bottom: 20px;
}

.grid-choose {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    padding-top: 80px;
}



.holder-choose {
    max-width: 31%;
    width: 100%;
    border: 2px solid var(--color-white);
    padding: 40px 20px;
    background: var(--color-grey);
    transition: 0.5s ease-in !important;
    position: relative;
    top: 0;

}

.holder-choose:hover {
    border-color: var(--color-white);
    background: var(--color-black);
    top: -20px;
}

.holder-choose:hover .mini-title,
.holder-choose:hover p,
.holder-choose:hover i {
    color: var(--color-white);
}

.holder-choose .mini-title,
.holder-choose p,
.holder-choose i {
    transition: 0.3s ease-in;
}

.holder-choose p {
    font-weight: 100;
}

/* WHY CHOOSE US SEC END */


/* PRODUCT SEC  */

.product-holder {
    max-width: 100%;
    margin: 0 auto;
    width: 100%;
}


section.product-sec {
    padding: 80px 0px;
}

.rating-grid {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
    padding-bottom: 10px;
}

.rating-grid p {
    padding: 0px;
}

.product-data {
    max-width: 390px;
    width: 100%;
    margin: 0 auto;
    background: #1c1c1c;
}

.image-product {
    max-width: 100%;
    height: 335px;
    background: #282828;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.btm-product .mini-para,
.btm-product .price-product {
    color: var(--color-yellow);
    font-weight: 500;
}

p.rating-data i {
    color: var(--color-yellow);
}

.image-product img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.btm-product {
    padding: 20px 10px;
}

.product-data p {
    color: var(--color-white);
    font-weight: 200;
}

.product-data .contact-me p {
    font-weight: 500 !important;
}

.product-data:hover .contact-me .topoverlay,
.product-data:hover .contact-me .btmoverlay {
    width: 100%;
    background: var(--color-white);
}

.product-data:hover .contact-me p {
    color: var(--color-black);
}


.slider-product {
    padding-top: 100px;
    max-width: 90%;
    margin-left: auto;
}

.grid-btn .swiper-button-prev,
.grid-btn .swiper-button-next {
    position: static;
}

.grid-btn {
    display: flex;
    flex-direction: row-reverse;
    gap: 50px;
    max-width: 100%;
    margin-left: auto;
    padding-top: 50px;
    padding-bottom: 20px;
    position: relative;
    right: 5%;
}

.grid-btn .swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after,
.swiper-button-prev:after,
.grid-btn .swiper-rtl .swiper-button-next:after {
    color: var(--color-white);
    font-size: 30px;
    background: var(--color-yellow);
    color: #fff;
    height: 59px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}



/* PRODUCT SEC END */


/* FAQ SEC  */


section.faq-sec {
    padding: 80px 0px;
}

section.faq-sec .whyonly-holder {
    padding-bottom: 100px;
}

section.faq-sec .universal-anchor {
    max-width: fit-content;
    margin: 0 auto;
    padding-top: 100px;
}

.faq-image {
    max-width: fit-content;
    margin: 0 auto;
    width: 100%;
}

.list-data ul li {
    list-style: disc;
}


.list-data ul li::marker {
    color: var(--color-yellow);
}

.datarowsmain div#data-3 {
    order: -1;
}


/* FAQ SEC END */


/* FOOTER  */

.logo-footer {
    max-width: 200px;
    margin: 0 auto;
    width: 100%;
}

footer.custome-footer {
    padding-bottom: 15px;
    border-top: 1px solid #8d8686;
}

.logo-container {
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
}

.btm-datafooter {
    padding-top: 30px;
}

ul.navlink li,
ul.footer-navlist li {
    padding-bottom: 0px;
}

ul.footer-navlist {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px 10px;
    border-top: 1px solid #6b6b6b;
    border-bottom: 1px solid #6b6b6b;
}

.logo-container {
    padding: 100px 0px;
}


/* FOOTER END */


/* ABOUT  */

section.about-secmain {
    min-height: 650px;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
}

section.about-secmain::after {
    position: absolute;
    content: "";
    inset: 0;
    background: #0000008a;
}


.about-bannertitles {
    max-width: fit-content;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 1;
}

.about-detailsimage {
    max-width: 775px;
    width: 100%;
    margin-left: auto;
}

section.aboutdetails-sec .home-about {
    margin: 0;
}

ul.product-qualitylist li {
    display: flex;
    gap: 10px;
}

ul.product-qualitylist li span.lists-icon {
    color: var(--color-yellow);
}

ul.product-qualitylist {
    padding-top: 30px;
}

section.aboutdetails-sec {
    background-repeat: no-repeat;
    background-size: 312px;
    background-position: -5% 110%;
}


section.mostsold-productsec,
section.aboutdetails-sec {
    padding: 80px 0px;
}




.suugest-pic {
    max-width: 335px;
    height: 335px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #2b2b2b;
    border-radius: 10px;
    padding: 20px;
    overflow: hidden;
}

.suugest-pic img {
    height: 100%;
    object-fit: cover;
    width: 100%;
    transition: 0.3s ease-in;
}

.suugest-pic:hover img {
    filter: drop-shadow(2px 4px 6px black);

}


.productdata-suggest {
    max-width: 90%;
    margin-left: auto;
}



.oodeven-row .row-productsdatahere:nth-child(even) {
    flex-direction: row-reverse;
}

.oodeven-row .row-productsdatahere:nth-child(even) .productdata-suggest {
    margin: 0;
}

.oodeven-row {
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding-top: 100px;
}

section.aboutdetails-sec .home-about {
    padding-top: 0px;
}




/* ABOUT END */





/* PRODUCTS SEC  */


.producttab-holder .tab-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    padding-bottom: 80px;
}


.producttab-holder .tab-list li a {
    color: var(--color-white);
    background: var(--color-yellow);
    padding: 10px 40px;
    border-radius: 5px;
}


.producttab-holder .tab-list li.active a {
    background: var(--color-white);
    color: var(--color-black);
}

.producttab-holder .tab-list li a:hover {
    background: var(--color-white);
    color: var(--color-black);
}

.grid-products {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.grid-products .product-data {
    max-width: 23%;
    margin: 0px;
}


.producttab-holder {
    padding-top: 100px;
}




section.products-mainsec {
    padding: 80px 0px;
}


.universal-anchor.main {
    max-width: fit-content;
    margin: 0 auto;
    padding-top: 50px;
}




/* PRODUCTS SEC END */



/* SINGLE PRODUCT  */


.grid-quantity {
    border: 1px solid #000;
    max-width: 127px;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-addno {
    display: flex;
    align-items: center;
    gap: 5px;
    text-align: center;
}

.grid-addno input {
    border: none;
    text-align: center;
    max-width: fit-content;
    margin: 0 auto;
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background: transparent;
    color: var(--color-white);
}

.grid-quantity {
    border: 1px solid var(--color-white);
    max-width: 127px;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.thumbnail-product {
    height: 477px;
    border: 1px solid #706464;
    padding: 20px;
    border-radius: 5px;
}

.thumbnail-product img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.bullet-ceremonal {
    max-width: 95%;
    margin-left: auto;
}

.btmslide-data {
    max-width: 150px;
    height: 150px;
    overflow: hidden;
    border: 2px solid var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease-in;
}

.btm-slide .swiper-slide {
    height: 100%;
    z-index: 1;
}

.btmslide-data img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.btm-slide {
    padding-top: 20px;
}

.allslide-holds {
    max-width: 630px;
    width: 100%;
}

.swiper-slide-thumb-active .btmslide-data {
    border-color: var(--color-yellow);
}

.price-main a {
    color: var(--color-yellow);
}

.quantity {
    padding: 20px 0px;
}

section.productmain-singlesec {
    padding: 80px 0px;
}




.bullet-ceremonal .universal-anchor {
    padding-top: 20px;
}



/* SINGLE PRODUCT END */


/* CART PAGE  */


.flex-item-two .items_flex {
    width: 100%;
    border: 1px solid #777;
    display: grid;
    align-items: end;
    padding: 20px;
}

.item_parent {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.item_bg {
    display: block;
    width: 175px;
    height: 175px;
    background-repeat: no-repeat;
    background-size: contain;
    object-fit: cover;
    background-color: transparent;
    background-position: center center;
}

.parent_flex {
    display: flex;
    column-gap: 15px;
}

.parent_flexTwo {
    text-align: right;
}

.items_flextwo {
    width: 30%;
    border: 1px solid #777;
}

.items_flextwo {
    width: 425px;
    height: 255px;
    border: 1px solid #777;
}

.flex-item-two {
    display: flex;
    column-gap: 34px;
}

.items_flextwo table.table tbody td {
    background-color: transparent;
    border: none;
    color: var(--color-white);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 4px 0px;
}

.items_flextwo table.table tfoot tr th {
    color: #9f9f9f;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    padding-top: 17px;
    background-color: transparent;
    border: none;
    padding-left: 0px;
    padding-right: 0px;
}

.items_flextwo table.table tr td:last-child,
.items_flextwo table.table tr th:last-child {
    text-align: right;
}

.items_flextwo .universal-anchor a {
    display: block;
    max-width: 100%;
    width: 100%;
}

.items_flextwo .universal-anchor .contact-me {
    max-width: 100%;
    width: 100%;
    text-align: center;
}

.items_flextwo {
    padding: 20px;
}

.first-data {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cart_remove {
    font-size: 18px;
    font-weight: 500;
    color: #feb406;
}

.cart-titlemain {
    max-width: fit-content;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    padding-bottom: 50px;
}

section.section.empty-banner {
    padding: 80px 0px;
}



/* CART PAGE END */






/* CHEXK OUT PAGE MAIN  */


@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&family=Poppins:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* /* loogin poup css start  */
.pouplogin {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: none;
    z-index: 1000;
}

span.closedata {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.logindata {
    padding-bottom: 0px;
    padding-top: 0px;
}

.logindata {
    max-width: 1290px;
    margin: 0 auto;
    background-color: #fff;


    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

button.closeloginpoup {
    position: absolute;
    top: -22px;
    right: -28px;
    border: none;
    background: transparent;
    outline: none;
    width: 35px;
    background: #fff;
    height: 35px;
    border-radius: 50%;
    z-index: 9;
}

.mainformdata {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    height: 600px;
}


.mainformdata .title {
    position: relative;
    padding: 30px;
    max-width: 50%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #000;

    display: flex;
    align-items: center;
    justify-content: center;
}

.mainformdata .content {
    position: relative;
    z-index: 99;
}

.mainformdata .content h2 {
    color: #fff;
    font-size: 50px;
    padding-bottom: 10px;
}

.mainformdata .content h3 {
    color: #fff;
    font-size: 22px;
    line-height: 25px;
    padding-bottom: 25px;
    padding-top: 25px;
}

.mainformdata .content span {
    color: #fff;
    font-size: 18px;
    max-width: 400px;
    line-height: 30px;
    width: 100%;
    display: block;
}

section.pouplogin .title ul {
    display: flex;
    gap: 30px;
    justify-content: flex-start;
    padding-top: 40px;
    padding-left: 0px;
    margin-bottom: 0px;
}

section.pouplogin .title ul li.current {
    color: #000;
    background-color: #fff;
}

section.pouplogin .title ul li {
    font-size: 18px;
    color: #fff;
    border: 1px solid #fff;
    font-weight: 400;
    padding: 10px 30px;
    max-width: 250px;
    width: 100%;
    text-align: center;
    cursor: pointer;
}

.formlogin {
    max-width: 50%;
    width: 100%;
    padding: 50px 20px;
}

.tab-content.current {
    display: block;
    animation: animatilogin 0.3s ease-in;
}


.tab-content {
    display: none;
}

.formlogin form {
    width: 100%;
    max-width: 100%;
}

.formlogin form h2 {
    font-size: 30px;
    line-height: 40px;
    color: #000;
    font-weight: 700;
    color: #000;
    margin: 20px 0px;
}

.fileds {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px 0px;
}

.formlogin form label {
    font-size: 18px;
    line-height: 25px;
}

.filedsdata input,
.fileds input {
    border: 1px solid #C4C4C4;
    outline: none;
    padding: 15px;
    color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.formlogin .tab-content input[type="submit"],
.formlogin .tab-content.login input[type="submit"] {
    border-radius: 5px;
    background: #D22F25;
    border: none;
    color: #FFF;
    font-family: Poppins;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 25.6px;
    padding: 18px 73px;
    display: block;
    margin: 0 auto;
    margin-top: 45px;
    transition: 0.3s ease-in;
    width: 100%;
}

.formlogin .tab-content input[type="submit"]:hover,
.formlogin .tab-content.login input[type="submit"]:hover {
    background: #000;

}


.formlogin form a {
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
    margin-top: 20px;
    display: block;
}

.formlogin form .condistions a {
    display: inline;
    margin: 0px;
}

.verify {
    display: flex;
    align-items: center;

}

.condistions p,
.condistions .verify label {
    color: #000;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* input[type="checkbox"] {
    position: relative;
    border: 2px solid #000;
    border-radius: 2px;
    background: none;
    cursor: pointer;
    line-height: 0;
    margin-right: 11px;
    outline: 0;
    padding: 0 !important;
    vertical-align: text-top;
    height: 20px;
    width: 20px;
    -webkit-appearance: none;
    opacity: .5;
}
input[type=checkbox]:hover {
    opacity: 1;
} */
.mainformdata .title::after {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    content: "";
    z-index: 0;
    width: 100%;
    height: 100%;
}

.pouplogin.showpoup {
    display: block;
    animation: animte-drop-down 0.9s ease-in;

}


@keyframes animte-drop-down {
    0% {
        opacity: 0;

        -webkit-clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%);
        clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%);
    }

    100% {
        opacity: 1;

        -webkit-clip-path: polygon(0 0, 50% 0, 100% 0, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%);
        clip-path: polygon(0 0, 50% 0, 100% 0, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%);
    }
}




@keyframes animatilogin {
    0% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}



/* payment page csss */



#msform {
    text-align: center;
    position: relative;
    margin-top: 20px
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;
    position: relative
}

.form-card {
    text-align: left
}

#msform fieldset:not(:first-of-type) {
    display: none
}



li {
    list-style: none;
}

.container-data {
    display: flex;
}

input {
    margin-bottom: 0px;
}

* {

    font-family: 'Poppins', sans-serif;

}

.payment-tab {
    max-width: 50%;
    background-color: #ffffff;
    width: 100%;
}

.payment-tab .payment {
    max-width: 635px;
    width: 100%;
    margin-left: auto;

}

section.multistep-payment .cart-data {
    max-width: 50%;
    width: 100%;
    padding-left: 65px;
    background: #F6F6F6;
    min-height: 100vh;


}

.payment-tab .payment {
    padding-top: 30px;
    padding-right: 65px;
}

ul#progressbar {
    padding: 0px;
    margin: 0px;
    padding-top: 25px;
}

#msform {
    margin-top: 0px;
}

#progressbar li:before {
    display: none;
}

#progressbar li:after {
    display: none;
}

#progressbar li {
    text-align: left;
    width: auto;
    max-width: auto;
    color: #000;

}

#progressbar li.active {
    color: #7e7e7e;
}

/* #progressbar li.active + li {
    color: #000000;
} */

#progressbar li strong {
    font-family: Poppins, sans-serif;
    ;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;

}

ul#progressbar {
    display: flex;
    align-items: center;
    padding-bottom: 60px;

}

ul#progressbar li img {
    margin: 0px 12px;
}

.mainpaymentgatway {
    border-radius: 5px;
    border: 1px solid #E6E6E6;
    padding: 22px 0px;
    position: relative;
}

.mainpaymentgatway span {
    position: absolute;
    top: -13px;
    padding: 0px 10px;
    background-color: #ffffff;
    left: 50%;
    transform: translateX(-50%);
    color: #525C64;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
    /* 150% */
}

.mainpaymentgatway a {
    margin: 0px 25px 0px;
    display: inline-block;
}

.or {
    position: relative;
    margin-top: 20px;
}

.or::after {
    position: absolute;
    content: "";
    left: 0;
    width: 100%;
    height: 0.5px;
    background-color: #525c6442;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.or span {
    color: #474E57;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    /* 114.286% */
    padding: 10px 10px;
    position: relative;
    background-color: #fff;
    z-index: 2;



}

.form-card {
    padding-top: 65px;
}

.fs-title {
    color: #000;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
    /* 116.667% */
    padding-bottom: 23px;
    margin-bottom: 0px;
}

.emaildata label {
    color: #000;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    /* 150% */
    padding-bottom: 3px;
}

.sucscribeemail {
    display: flex;
    justify-content: space-between;
    padding-bottom: 13px;
}

.sucscribeemail input#email {
    max-width: 360px;
    width: 100%;
    display: block;
    border-radius: 4px;
    border: 1px solid #DEDEDE;
    padding: 0px 8px;
    outline: none;
}

.sucscribeemail input.submitemail {
    border-radius: 4px;
    border: 1px solid #000;
    background: #1A1A1A;
    color: #FFF;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    padding: 12px 60px;
    max-width: fit-content;
    text-align: center;
    width: 100%;
}

.signup {
    display: flex;
    gap: 6px;
    padding-bottom: 20px;
}

.signup a {
    color: #000;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    /* 150% */
    text-decoration: none;
}

.signup p {
    color: #000;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    /* 150% */
    margin-bottom: 0px;
}

.offeronemail {
    display: flex;
    gap: 7px;
    align-items: center;
    padding-bottom: 37px;
}

.offeronemail label {
    color: #000;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    /* 150% */
}

.dropdown1 {
    padding: 10px 13px;
    border-radius: 4px;
    border: 1px solid #DEDEDE;
}

.dropdown1 p {
    margin-bottom: 0px;
    color: #747474;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    /* 175% */
}

.dropdown1 select {
    width: 100%;
    background-repeat: no-repeat;
    border: none;
    outline: none;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    background-position: 100% center;
}

.info {
    display: flex;
    gap: 16px;
    padding: 19px 0px;
}

.info input {
    border: none;
    outline: none;
    width: 100%;
    max-width: 50%;
    padding: 19px 13px;
    color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    /* 131.25% */
    color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    /* 131.25% */
    border-radius: 4px;
    border: 1px solid #DEDEDE;
}

.info input::placeholder {
    color: #000000;
}

.info.data {
    padding-top: 0px;
}

.info.data input {
    width: 100%;
    max-width: 100%;
}

.dropdown1.info-data,
.info.info-data input {
    width: 100%;
    max-width: 100%;
}

.next-time .save {
    padding-bottom: 7px;
    display: flex;
    gap: 7px;
    align-items: center;
}

.next-time .save label {
    color: #000;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    /* 150% */
}

.data-next {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 44px;
    border-bottom: 1px solid #DEDEDE;
    margin-bottom: 19px;
}

.data-next a {
    text-decoration: none;
    color: #000;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    /* 150% */
}

input.payenow,
input.next.action-button {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
    /* 150% */
    border-radius: 4px;
    border: 1px solid #000;
    background: #000;
    padding: 13px 23px;
    max-width: 200px;
}

fieldset p {
    text-align: left;
    margin-bottom: 20px;
    color: #000;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    /* 150% */
}

fieldset p a {
    color: #000;
    text-decoration: none;
    text-align: left;
    margin-bottom: 20px;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    /* 150% */
}

.cart-data {
    padding-top: 250px;
}

.cart-data ul {
    padding: 0px;
    margin: 0px;
    max-width: 480px;
    width: 100%;
}


.cart-data ul.list li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.product {
    display: flex;
    gap: 15px;
}

.cart-data ul.list li h2 {
    color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    /* 125% */
    letter-spacing: -0.416px;
    margin-bottom: 0px;
    padding-bottom: 8px;
}

.cart-data ul.list li p.title {
    margin-bottom: 0px;
    color: #000;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;

}

.cart-data ul.list li .productimg {
    position: relative;
}

.cart-data ul.list li .productimg span {
    position: absolute;
    z-index: 999;
    width: 23px;
    height: 23px;
    display: block;
    text-align: center;
    line-height: 23px;
    color: #FFF;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: -0.364px;
    background-color: #747474;
    top: -13px;
    right: 4px;
    border-radius: 50%;
    display: grid;
    align-items: center;
}

.total {
    margin-top: 30px;


}

.total ul {
    border-top: 1px solid #E1E1E1;
    border-bottom: 1px solid #E1E1E1;
    padding: 20px 0px;
}

.total ul li {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

.total ul li:last-child {
    padding-bottom: 0px;
}

.total ul li span {
    color: #000;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 142.857% */
    letter-spacing: -0.364px;
}

.total-sub {
    margin-top: 21px;
    display: flex;
    justify-content: space-between;
    max-width: 470px;
    width: 100%;
}

.total-sub span {
    color: #000;
    font-family: Poppins;
    font-size: 23px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    /* 86.957% */
    letter-spacing: -0.598px;

}


.form-card.shiping {
    padding-top: 0px;
}

.form-card.shiping ul {
    padding: 0px;
    margin: 0px;
}

.form-card.shiping {
    padding: 17px;
    border-radius: 4px;
    border: 1px solid #DEDEDE;
}

.form-card.shiping ul li {
    display: flex;
    justify-content: space-between;
    color: #000;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    /* 150% */
}

.form-card.shiping ul li a {
    color: #000;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    /* 150% */
    text-decoration-line: underline;
    text-decoration: underline;
}

.form-card.shiping ul li span.contact {
    color: #747474;
}

.form-card.shiping ul li span.email {
    max-width: 352px;
    width: 100%;
    display: block;
    color: #000;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    /* 150% */
}

.form-card.shiping ul li span.email.parice {
    max-width: 445px;
}

.form-card.shiping ul li {
    padding: 15px 0px;
    border-bottom: 1px solid #DEDEDE;
}

.form-card.shiping ul li:last-child {
    padding-bottom: 0px;
    border-bottom: none;
}

.form-card.shiping ul li:first-child {
    padding-top: 0px;

}

.method-data {
    padding: 40px 0px;
}

.method-data h2 {
    color: #000;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
    /* 116.667% */
    text-align: left;
    margin-bottom: 14px;
}

.method-data ul {
    padding: 0px;
    margin: 0px;
}

.method-data ul li {
    display: flex;
    padding: 22px 17px;
    justify-content: space-between;
    border-radius: 4px;
    border: 1px solid #000;
    background: #F1F5FF;
}

.method-data.payment p {
    color: #747474;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    /* 150% */
    margin-bottom: 14px;
}

.method-data.payment.cart {
    padding-right: 0px;
}

.crat-product-data {
    height: 100vh;
    max-width: 600px;
    padding-right: 10px;
    width: 100%;
    overflow: auto;
    padding-top: 15px;
}

.paymentdata .header-p {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px;
    border-radius: 4px 4px 0px 0px;
    border: 1px solid #000;
    background: #F1F5FF;
}

.paymentdata .header-p label {
    color: #000;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    /* 150% */
}

.body-cart {
    padding: 18px;
    border: 1px solid #DEDEDE;
    background: #F5F5F5;
    border-bottom: none;
}

/* end payment page css */
.inputfileds {
    display: flex;
    background-color: #fff;
    margin-bottom: 15px;

}

.inputfileds input {
    width: 100%;
    max-width: 100%;
    height: 100%;
    padding: 12px 18px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: 1px solid #DEDEDE;
    background: #FFF;
    outline: none;
    padding-right: 0px;
    border-right: none;
}

.inputfileds button {
    border: none;
    outline: none;
    background-color: #fff;
    border: 1px solid #DEDEDE;
    border-left: none;
    padding-right: 14px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.inputfileds.name input {
    border: 1px solid #DEDEDE;
    border-radius: 4px;
    padding-right: 15px;
}

.inputfileds .cvv {
    display: flex;
    width: 100%;
}

.inputfileds.cvvdata {

    gap: 14px;
    background-color: transparent;
}

.inputfileds.cvvdata .expiry input {
    border: 1px solid #DEDEDE;
    border-radius: 4px;
    max-width: 100%;
    width: 100%;
}

.inputfileds.cvvdata .expiry {
    width: 100%;
}

.footer-payment {
    display: flex;
    justify-content: space-between;
    border-radius: 0px 0px 4px 4px;
    border: 1px solid #DEDEDE;
    background: #FFF;
    padding: 18px;
}

.method-data.payment-data {
    padding-top: 30px;
    padding-bottom: 45px;
}

.method-data.payment-data ul li {
    justify-content: flex-start;
    gap: 11px;
}

.method-data.payment-data ul li.active {
    border-radius: 4px 4px 0px 0px;
    border: 1px solid #000;
    background: #F1F5FF;
}

.method-data.payment-data ul li {
    background-color: #fff;
    border-radius: 0px 0px 4px 4px;
    border: 1px solid #DEDEDE;
    background: #FFF;
}

/* custom radio box */

.container01 {
    display: block;
    position: relative;
    padding-left: 35px;
    /* margin-bottom: 12px; */
    cursor: pointer;
    /* font-size: 22px; */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    text-align: left;
    user-select: none;
}

/* Hide the browser's default radio button */

.container01 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border-radius: 50%;

    border: 1px solid #DEDEDE;
    background: #FFF;
}

/* On mouse-over, add a grey background color */

.container01:hover input~.checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */

.container01 input:checked~.checkmark {
    background-color: #2196F3;
}


/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container01 input:checked~.checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */

.container01 .checkmark:after {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* .checkbox .container input:checked ~ .checkmark{
    background-color: transparent;
  } */

.container1 {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container1 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark1 {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    /* background-color: #eee; */
    border-radius: 3px;
    border: 1px solid #000;
}

/* On mouse-over, add a grey background color */
/* .container1:hover input ~ .checkmark1 {
    background-color: #ccc;
  } */

/* When the checkbox is checked, add a blue background */
.container1 input:checked~.checkmark1 {
    background-color: #2196F3;
    border: 1px solid #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark1:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container1 input:checked~.checkmark1:after {
    display: block;
}

/* Style the checkmark/indicator */
.container1 .checkmark1:after {
    top: 50%;
    left: 50%;

    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
}

section.multistep-payment .cart-data .header {
    padding-bottom: 40px;
    display: none;
    text-align: center;
}

.price {
    color: var(--color-black);
}

.method-data {
    color: #000;
}

.data-next span {
    font-weight: 600;
}


/* resposnive css */

@media(max-width:1600px) {
    .mainformdata .content h2 {
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 0px;
    }

    .mainformdata .content h3 {
        font-size: 20px;
        padding: 15px 0px;
        margin-bottom: 0px;
    }

    .mainformdata .content span {
        font-size: 16px;
        line-height: 25px;
    }

    section.pouplogin .title ul li {
        font-size: 16px;
        padding: 8px 25px;
    }

    .formlogin form h2 {
        font-size: 25px;
        line-height: 35px;
        margin: 15px 0px;
    }

    .formlogin form label {
        font-size: 16px;
        line-height: 23px;
    }

    .filedsdata input,
    .fileds input {
        padding: 10px;
        font-size: 15px;
        line-height: normal;
    }

    .formlogin form a {
        font-size: 16px;
    }

    .formlogin .tab-content input[type="submit"],
    .formlogin .tab-content.login input[type="submit"] {
        font-size: 16px;
        padding: 10px 0px;
    }

    .mainformdata {
        height: 550px;
    }
}

@media(max-width:1400px) {
    .payment-tab .payment {
        max-width: 500px;
        padding-right: 20px;
    }

    #progressbar li strong {
        font-size: 14px;
    }

    .mainpaymentgatway a img {
        max-width: 185px;
    }

    .form-card {
        padding-top: 30px;
    }

    .fs-title {
        margin-bottom: 15px;
        padding-bottom: 0px;
    }

    .sucscribeemail input.submitemail {
        padding: 10px 30px;
    }

    .sucscribeemail input#email {
        max-width: 330px;
    }

    .signup {
        padding-bottom: 15px;
    }

    .offeronemail label {
        margin-bottom: 0px;
    }

    .offeronemail {
        padding-bottom: 20px;
    }

    .info input {
        padding: 10px 13px;
        font-size: 14px;
    }

    .info {
        padding: 12px 0px;
    }

    .dropdown1 select {
        font-size: 14px;
    }

    .dropdown1 p {
        line-height: normal;
    }

    input.next.action-button {
        padding: 12px 15px;
    }

    .cart-data ul.list li h2 {
        font-size: 14px;
    }

    .total-sub span {
        font-size: 18px;
    }

    .method-data ul li {
        padding: 10px 15px;
    }

    ul#progressbar {
        padding-bottom: 40px;
    }

    .form-card.shiping ul li span.contact,
    .form-card.shiping ul li span.email {
        font-size: 14px;
    }

    section.multistep-payment .cart-data {
        padding-left: 20px;
    }

    label.container01,
    label.container1 {
        font-size: 14px;
    }

    .checkmark {
        width: 20px;
        height: 20px;
    }

    .form-card.shiping ul li span.email {
        max-width: 310px;
    }
}

@media(max-width:1200px) {
    .mainformdata .content h2 {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 0px;
    }

    .mainformdata .content h3 {
        font-size: 18px;
        padding: 10px 0px;
        margin-bottom: 0px;
    }

    .mainformdata .content span {
        font-size: 15px;
        line-height: 25px;
    }

    section.pouplogin .title ul li {
        font-size: 15px;
        padding: 8px 25px;
    }

    .formlogin form h2 {
        font-size: 20px;
        line-height: 30px;
        margin: 12px 0px;
    }

    .formlogin form label {
        font-size: 15px;
        line-height: 22px;
    }

    .filedsdata input,
    .fileds input {
        padding: 8px;
        font-size: 15px;
        line-height: normal;
    }

    .formlogin form a {
        font-size: 15px;
    }

    .formlogin .tab-content input[type="submit"],
    .formlogin .tab-content.login input[type="submit"] {
        font-size: 15px;
        padding: 10px 0px;
    }

    .mainformdata {
        height: 500px;
    }

    .logindata {
        max-width: 950px;
    }

    .mainformdata {
        gap: 20px;
    }

    .payment-tab .payment {
        padding-left: 20px;
        padding-top: 30px;
    }

    section.multistep-payment .cart-data {
        padding-right: 20px;
    }

    .sucscribeemail input#email {
        max-width: 310px;
    }

    .form-card.shiping ul li span.email {
        max-width: 280px;
    }
}

@media(max-width:991px) {
    .container-data {
        flex-direction: column-reverse;
    }

    section.multistep-payment .cart-data {
        padding-top: 30px;
    }

    .crat-product-data {
        height: auto;
        overflow: auto;
    }



    .mainformdata {
        flex-direction: column;
    }

    .mainformdata .title {
        max-width: 100%;
        width: 100%;
    }

    .mainformdata .title {
        justify-content: flex-start;
    }

    .mainformdata .content span {
        max-width: 100%;
        width: 100%;
    }

    .formlogin {
        max-width: 100%;
        width: 100%;
    }

    .formlogin {
        padding-top: 0px;
    }

    .logindata {
        max-width: 80%;

    }

    .mainformdata {
        height: 745px;
    }

    section.pouplogin.showpoup {
        overflow: auto;
    }

    .payment-tab,
    section.multistep-payment .cart-data {
        max-width: 100%;
    }

    .cart-data ul,
    .total-sub,
    .crat-product-data,
    .payment-tab .payment {
        max-width: 80%;
        margin: 0 auto;
    }

    .total-sub {
        margin-top: 30px;
    }

    section.multistep-payment .cart-data {
        min-height: auto;
        padding-bottom: 50px;
    }

    section.multistep-payment .payment .header {
        display: none;
    }

    section.multistep-payment .payment {
        padding-top: 20px;
    }

    section.multistep-payment .cart-data .header {
        display: block;
    }
}

@media(max-width:665px) {

    .cart-data ul,
    .total-sub,
    .crat-product-data,
    .payment-tab .payment {
        max-width: 100%;
    }

    .method-data.payment.cart {
        padding-left: 0px;
    }

    .inputfileds.cvvdata,
    .info {
        flex-direction: column;
    }

    .info input {
        max-width: 100%;
        width: 100%;
    }

    .body-cart {
        padding: 15px;
    }

}

@media(max-width:428px) {
    ul#progressbar {
        display: none;
    }

    section.multistep-payment .payment {
        padding-top: 50px;
    }

    .sucscribeemail input#email {
        max-width: 220px;
    }

    .sucscribeemail input.submitemail {
        padding: 10px;
    }

    input.next.action-button {
        padding: 10px;
    }
}


/* CHEXK OUT PAGE MAIN END */


/* HOW TO ORDER PRODUCT  */


.order-process{
    padding-top: 80px;
}


/* HOW TO ORDER PRODUCT END */


/* CONTACT PSGE  */


.holder-choose a {
    color: var(--color-white);
    font-weight: 400;
}
.holder-choose a:hover{
    color: var(--color-yellow);
}

.input-holder input,.input-holder textarea,.input-holder select{
    background: transparent;
    border: 1px solid #a5a5a5;
    padding: 5px 10px;
    color: var(--color-white);
    height: 50px;
}

.input-holder textarea{
    height: auto !important;
    width: 100%;
}


.input-holder input, .input-holder input::-webkit-input-placeholder,.input-holder textarea,.input-holder textarea::-webkit-input-placeholder,.input-holder select{
    font-size: 18px;
    color: var(--color-white);
    font-weight: 300;
}

.input-holder {
    margin-bottom: 30px;
}

section.contact-sec{
    padding: 80px 0px;
}

.submit-btn button{
    background: var(--color-yellow);
    transition:0.3s ease-in;
    max-width: 100%;
    width: 100%;
    border: none;
}

.submit-btn button:hover{
    background: var(--color-white);
    color: var(--color-black);
}

.submit-btn {
    max-width: 250px;
    margin: 0 auto;
}

.from-holder {
    max-width: 60%;
    margin: 0 auto;
    padding-top: 80px;
}

.input-holder select option{
    color: var(--color-black);
}


/* CONTACT PSGE END */


/* PAYMENT GUIDE  */


.iframe-holder iframe {
    width: 100%;
    height: 500px;
}

.video-frameholder {
    padding-top: 80px;
}

.grid-datavideo {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.whyonly-holder p a{
    color: var(--color-yellow);
    border-bottom: 1px solid transparent;

}

.whyonly-holder p a:hover{
    color: var(--color-white);
    border-color: var(--color-white);
}

.bitcoin-atm a{
    color: var(--color-white);
    border-bottom: 1px solid var(--color-white);
}

.bitcoin-atm a:hover{
    color: var(--color-yellow);
    border-color: var(--color-yellow);
}

.bitcoin-atm {
    max-width: fit-content;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    padding-bottom: 40px;
}


/* PAYMENT GUIDE END */




/* WHATSAPP  */


.btn-whatsapp-pulse {
	background: #25d366;
    color: var(--color-white);
	font-size: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 0;
	height: 0;
	padding: 35px;
	text-decoration: none;
	border-radius: 50%;
	animation-name: pulse;
	animation-duration: 1.5s;
	animation-timing-function: ease-out;
	animation-iteration-count: infinite;
}

@keyframes pulse {
	0% {
		box-shadow: 0 0 0 0 rgba(37, 211, 102, 0.5);
	}
	80% {
		box-shadow: 0 0 0 14px rgba(37, 211, 102, 0);
	}
}

.btn-whatsapp-pulse-border {
	bottom: 120px;
	right: 20px;
	animation-play-state: paused;
}

.btn-whatsapp-pulse-border::before {
	content: "";
	position: absolute;
	border-radius: 50%;
	padding: 25px;
	border: 5px solid #25d366;
	opacity: 0.75;
	animation-name: pulse-border;
	animation-duration: 1.5s;
	animation-timing-function: ease-out;
	animation-iteration-count: infinite;
}

@keyframes pulse-border {
	0% {
		padding: 25px;
		opacity: 0.75;
	}
	75% {
		padding: 50px;
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}


.whatapp-main {
    max-width: fit-content;
    width: 100%;
    position: fixed;
    bottom: 5%;
    right: 2%;
    z-index: 1111;
}



/* WHATSAPP END */